<?xml version="1.0"?>
<sdf version="1.9" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="arm" default="simple_box_arm"/>
  <xacro:arg name="robot_name" default="armada_robot"/>
  <xacro:arg name="robot_pose" default="0 0 0.1 0 0 0"/>

  <xacro:include filename="$(find armada_gazebo)/sdf/modules/arms/$(arg arm).sdf.xacro"/>

  <xacro:if value="${'$(arg arm)' == 'simple_box_arm'}">
    <xacro:simple_box_arm_sdf
      name="$(arg robot_name)"
      pose="$(arg robot_pose)" />
  </xacro:if>

</sdf>