<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r2f85_connector_adapter_description">

    <xacro:macro name="armada_ee_connector_adapter" params="prefix parent *origin" >

        <joint name="flange_ee_connector_adapter_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${prefix}base_link" />
            <xacro:insert_block name="origin" />
        </joint>

        <link name="${prefix}base_link">
            <visual>
                <geometry>
                    <mesh filename="package://robotiq_description/meshes/visual/2f_85/ur_to_robotiq_adapter.dae"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://robotiq_description/meshes/collision/2f_85/ur_to_robotiq_adapter.stl"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.01"/>
                <inertia ixx="0.000044" ixy="0.0" ixz="0.0" iyy="0.000027" iyz="0.0" izz="0.000027" />
            </inertial> -->
        </link>

    </xacro:macro>
    
</robot>