<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- include vendor file from the robotiq package -->
  <xacro:include filename="$(find robotiq_description)/urdf/2f_85.ros2_control.xacro" />

  <!-- your stable wrapper macro -->
  <xacro:macro name="armada_ee_ros2_control" params="
      prefix
      sim_gazebo:=true
      use_fake_hardware:=false
      com_port:=/dev/ttyUSB0
      gripper_closed_position:=0.7929">

    <xacro:robotiq_gripper_ros2_control
      name="${prefix}robotiq_2f85_ros2_control"
      prefix="${prefix}"
      sim_gazebo="${sim_gazebo}"
      use_fake_hardware="${use_fake_hardware}"
      com_port="${com_port}"
      gripper_closed_position="${gripper_closed_position}"
    />

  </xacro:macro>

</robot>