<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="sensor_mount">

    <!-- Import macros -->
    <xacro:include filename="$(find armada_description)/sensor_mount/urdf/sensor_mount.urdf.xacro" />

    <link name="world" />
    <xacro:sensor_mount 
        prefix="" 
        parent="world" 
    >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:sensor_mount>
</robot>