<?xml version="1.0"?>
<robot name="armada_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Generic-ish selectors -->
  <xacro:arg name="model" default="ur5e"/>
  <xacro:arg name="arm_ip" default="10.10.10.152"/>
  <xacro:arg name="end_effector" default="robotiq_2f85"/>
  <xacro:arg name="ee_ip" default="0.0.0.0"/>

  <!-- ros2_control toggles (viewer should default off) -->
  <xacro:arg name="use_ros2_control" default="false"/>
  <xacro:arg name="sim_gazebo" default="false"/>

  <!-- Gazebo plugin wrapper -->
  <!-- <xacro:include filename="$(find armada_gazebo)/xacro/modules/arms/$(arg model)/macro.gazebo.xacro"/> -->

  <!-- Control Files -->
  <xacro:include filename="$(find armada_description)/urdf/modules/arms/$(arg model)/ros2_control.xacro"/>
  <!-- <xacro:include filename="$(find armada_description)/urdf/modules/end_effectors/$(arg end_effector)/ros2_control.xacro"/> -->

  <!-- IMPORTANT: use tf_prefix, not prefix, and make it model-based -->
  <!-- <xacro:arg name="arm_prefix" default="$(arg model)_"/>
  <xacro:arg name="ee_prefix" default="$(arg end_effector)_"/> -->
  <xacro:arg name="arm_prefix" default=""/>
  <xacro:arg name="ee_prefix" default=""/>

  <!-- Include your wrappers (not vendor macros directly) -->
  <xacro:include filename="$(find armada_description)/urdf/modules/arms/$(arg model)/arm.xacro"/>
  <xacro:include filename="$(find armada_description)/urdf/modules/end_effectors/$(arg end_effector)/ee.xacro"/>

  <!-- currently hard-code mount macro for testing -->
  <xacro:include filename="$(find armada_description)/urdf/modules/mounts/mpm/mount.xacro"/>
  <xacro:include filename="$(find armada_description)/urdf/modules/sensor_mounts/d435i_mount/sensor_mount.xacro"/>

  <!-- gazebo -->
  <!-- <xacro:arm_gazebo model="$(arg model)" /> -->

  <!-- Arm ros2_control block -->
  <xacro:armada_arm_ros2_control 
    prefix="$(arg arm_prefix)" 
    robot_ip="$(arg arm_ip)" 
    model="$(arg model)" >
  </xacro:armada_arm_ros2_control>

  <!-- Gripper ros2_control block -->
  <!-- <xacro:armada_ee_ros2_control
    prefix="" >
  </xacro:armada_ee_ros2_control> -->

  <!-- World/root -->
  <link name="world"/>

  <!-- Arm: same scene placement you used before -->
  <xacro:armada_arm 
    parent="world" >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:armada_arm>

  <!-- parameterize mount prefix -->
  <xacro:armada_mount 
    parent="$(arg arm_prefix)flange"
    prefix="mpm_">
    <!-- depth of socket center part is 6mm -->
    <origin xyz="-0.006 0 0" rpy="0 0 0"/>
  </xacro:armada_mount>

  <xacro:armada_sensor_mount 
    parent="mpm_base_link"
    prefix="d435i_mount_">
    <!-- depth of sensor mount is 16mm, same thickness as mpm so no translation in x -->
    <origin xyz="0 0 0.175" rpy="0 0 0"/>
  </xacro:armada_sensor_mount>

  <!-- add logic, if mount then parent is mount, else arm flange -->
  <xacro:armada_ee
    parent="mpm_base_link" >
    <!-- 16mm along the x axis -->
    <origin xyz="0.016 0 0" rpy="${pi/2} 0 ${pi/2}"/>
  </xacro:armada_ee>

</robot>