<?xml version="1.0"?>
<robot name="armada_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ============================================================ -->
  <!--                             ARGS                             -->
  <!-- ============================================================ -->

  <!-- Robot Environment -->
  <xacro:arg name="root_link" default="world"/>

  <!-- Robot Embodiment Selectors (explore armada_description/urdf/modules for options) -->
  <xacro:arg name="arm" default=""/>
  <xacro:arg name="mount" default=""/>
  <xacro:arg name="sensor" default=""/>
  <xacro:arg name="controller" default=""/>
  <xacro:arg name="tool_change_hardware" default=""/>
  <xacro:arg name="end_effector" default=""/>

  <!-- Hardware IP Addresses -->
  <xacro:arg name="arm_ip" default=""/>
  <xacro:arg name="ee_ip" default=""/>

  <!-- Simulation Toggle (should allow choosing simulator and be blank by default; TODO) -->
  <xacro:arg name="simulator" default=""/>

  <!-- ============================================================ -->
  <!--                         SIMULATION                           -->
  <!-- ============================================================ -->

  <!-- Simulation plugin wrapper -->
  <!-- <xacro:include filename="$(find armada_gazebo)/xacro/modules/arms/$(arg model)/macro.gazebo.xacro"/> -->  

  <!-- ============================================================ -->
  <!--                        ROS2 CONTROL                          -->
  <!-- ============================================================ -->

  <!-- Arm Physical Hardware Conditional Block -->
  <xacro:if value="${'$(arg arm_ip)' != ''}">
    <!-- Control File Wrapper -->
    <xacro:include filename="$(find armada_description)/urdf/modules/arms/$(arg arm)/ros2_control.xacro"/>

    <!-- Arm ros2_control block -->
    <xacro:armada_arm_ros2_control 
      prefix="$(arg arm)_" 
      robot_ip="$(arg arm_ip)" 
      model="$(arg arm)" >
    </xacro:armada_arm_ros2_control>
  </xacro:if>

  <!-- ============================================================ -->
  <!--                          ROOT LINK                           -->
  <!-- ============================================================ -->
  <!-- root link will be artificial "world" link unless alternate root link is passed to macro -->

  <!-- World/Root Link Conditional Block -->
  <xacro:if value="${'$(arg root_link)' == 'world'}">
    <!-- World/Root Link-->
    <link name="world"/>
  </xacro:if>  

  <!-- ============================================================ -->
  <!--                             ARM                              -->
  <!-- ============================================================ -->

  <!-- Arm Wrapper -->
  <xacro:include filename="$(find armada_description)/urdf/modules/arms/$(arg arm)/arm.xacro"/>

  <!-- Arm Macro -->
  <xacro:armada_arm 
    parent="$(arg root_link)"
    tf_prefix="$(arg arm)_" >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:armada_arm>

  <!-- ============================================================ -->
  <!--                       PERIPHERAL MOUNT                       -->
  <!-- ============================================================ -->
  <!-- (custom or additional hardware to interface between arm and peripherals) -->

  <!-- Mount Conditional Block -->
  <xacro:if value="${'$(arg mount)' != ''}">
    <!-- Mount Wrapper -->
    <xacro:include filename="$(find armada_description)/urdf/modules/mounts/$(arg mount)/mount.xacro"/>

    <!-- Peripheral Mount Macro -->
    <xacro:armada_mount 
      parent="$(arg arm)_flange"
      prefix="$(arg mount)_">
      <origin xyz="-0.006 0 0" rpy="3.14 0 0"/>
    </xacro:armada_mount>
  </xacro:if>

  <!-- ============================================================ -->
  <!--                            SENSOR                            -->
  <!-- ============================================================ -->
  <!-- (e.g., depth sensors, cameras, lidar, etc.)-->

  <!-- Sensor Conditional Block -->
  <xacro:if value="${'$(arg sensor)' != ''}">
    <!-- Sensor Wrappers -->
    <xacro:include filename="$(find armada_description)/urdf/modules/sensors/$(arg sensor)/sensor.xacro"/>
    <xacro:include filename="$(find armada_description)/urdf/modules/sensor_mounts/$(arg sensor)_mount/sensor_mount.xacro"/>

    <!-- Sensor Mount Macro -->
    <xacro:armada_sensor_mount 
      parent="$(arg mount)_base_link"
      prefix="$(arg sensor)_mount_">
      <origin xyz="0 0 0.175" rpy="0 0 0"/>
    </xacro:armada_sensor_mount>

    <!-- Sensor Macro (e.g., camera, vision system, etc.)-->
    <xacro:armada_sensor
      parent="$(arg sensor)_mount_base_link">
      <origin xyz="0.0260125 0 -0.0125" rpy="0 0 0"/>
    </xacro:armada_sensor>
  </xacro:if>

  <!-- ============================================================ -->
  <!--                          CONTROLLER                          -->
  <!-- ============================================================ -->
  <!-- (e.g., raspberry pi 5 for sensor and gripper control + networking) -->

  <!-- Controller Conditional Block -->
  <xacro:if value="${'$(arg controller)' != ''}">
    <!-- Controller Wrapper -->
    <xacro:include filename="$(find armada_description)/urdf/modules/controllers/$(arg controller)_enclosure/controller.xacro"/>

    <!-- Controller Macro -->
    <xacro:armada_controller 
      parent="$(arg mount)_base_link"
      prefix="$(arg controller)_enclosure_">
      <origin xyz="-0.0325 0 0.175" rpy="0 0 0"/>
    </xacro:armada_controller>
  </xacro:if>

  <!-- ============================================================ -->
  <!--                      TOOL CHANGE HARDWARE                    -->
  <!-- ============================================================ -->
  <!-- (e.g., millibar or some other 3rd party or custom tool change hardware for robot tooling) -->

  <!-- Quick Change Hardware Conditional Block -->
  <xacro:if value="${'$(arg tool_change_hardware)' != ''}">
    <!-- Conditional Robot Embodiment Selector -->
    <xacro:property
      name="tool_changer_parent"
      value="${'$(arg arm)' + '_flange' if '$(arg mount)' == '' else '$(arg mount)' + '_base_link'}">
    </xacro:property>

    <!-- Quick Change Hardware Wrapper -->
    <xacro:include filename="$(find armada_description)/urdf/modules/tool_change_hardware/$(arg tool_change_hardware)/tool_changer.xacro"/>

    <!-- Quick Change Hardware Macro -->
    <xacro:armada_tool_changer
      parent="${tool_changer_parent}"
      prefix="$(arg tool_change_hardware)_" >
      <origin xyz="0.016 0 0" rpy="0 0 0"/>
    </xacro:armada_tool_changer>
  </xacro:if>

  <!-- ============================================================ -->
  <!--                         END EFFECTOR                         -->
  <!-- ============================================================ -->

  <!-- Conditional Robot Embodiment Selector -->
  <xacro:property
    name="ee_parent"
    value="${
      '$(arg tool_change_hardware)' + '_base_link'
        if '$(arg tool_change_hardware)' != ''
      else
      '$(arg mount)' + '_base_link'
        if '$(arg mount)' != ''
      else
      '$(arg arm)' + '_flange'
    }">
  </xacro:property>

  <!-- End Effector Conditional Block -->
  <xacro:if value="${'$(arg end_effector)' != ''}">
    <!-- End Effector Wrapper -->
    <xacro:include filename="$(find armada_description)/urdf/modules/end_effectors/$(arg end_effector)/ee.xacro"/>

    <!-- End Effector Macro -->
    <xacro:armada_ee
      parent="${ee_parent}" >
      <!-- 0.03244 -->
      <origin xyz="0.03394 0 0" rpy="${pi/2} 0 ${pi/2}"/>
    </xacro:armada_ee>
  </xacro:if>

</robot> <!-- armada_robot -->