<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="sensor_mount">
    <xacro:macro name="sensor_mount" params="
        *origin
        prefix
        parent">

        <link name="${prefix}sensor_mount_base_link">
            <visual>
                <geometry>
                    <mesh filename="package://armada_description/sensor_mount/meshes/visual/base_link.dae" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://armada_description/sensor_mount/meshes/collision/base_link.stl" />
                </geometry>
                <surface>
                    <friction>
                    <ode>
                        <mu1>100000.0</mu1>
                        <mu2>100000.0</mu2>
                    </ode>
                    </friction>
                    <contact>
                    <ode>
                        <kp>1e+5</kp>
                        <kd>1</kd>
                        <soft_cfm>0</soft_cfm>
                        <soft_erp>0.2</soft_erp>
                        <minDepth>0.002</minDepth>
                        <maxVel>0</maxVel>
                    </ode>
                    </contact>
                </surface>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.01"/>
                <inertia
                    ixx="1e-4"
                    ixy="0"
                    ixz="0"
                    iyy="1e-4"
                    iyz="0"
                    izz="1e-4"/>
            </inertial>
        </link>

        <joint name="${prefix}sensor_mount_base_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${prefix}sensor_mount_base_link" />
            <xacro:insert_block name="origin" />
        </joint>

        <!-- example joint for now -->
        <!-- <joint name="${prefix}robotiq_85_left_knuckle_joint" type="revolute">
            <parent link="${prefix}robotiq_85_base_link" />
            <child link="${prefix}robotiq_85_left_knuckle_link" />
            <axis xyz="0 -1 0" />
            <origin xyz="0.03060114 0.0 0.05490452" rpy="0 0 0" />
            <limit lower="0.0" upper="0.8" velocity="0.5" effort="50" />
        </joint> -->

    </xacro:macro>
</robot>
