<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="d435i_mount_description">

    <xacro:macro name="armada_sensor_mount" params="prefix parent *origin" >

        <joint name="mpm_sensor_mount_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${prefix}base_link" />
            <xacro:insert_block name="origin" />
        </joint>

        <link name="${prefix}base_link">
            <visual>
                <geometry>
                    <mesh filename="file://$(find armada_description)/meshes/modules/sensor_mounts/d435i_mount/visual/d435i_mount.stl" />
                </geometry>
                <material name="gray">
                    <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="file://$(find armada_description)/meshes/modules/sensor_mounts/d435i_mount/collision/d435i_mount.stl" />
                </geometry>
            </collision>
            <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.05"/>
            <inertia 
                ixx="1e-5" ixy="0" ixz="0"
                iyy="1e-5" iyz="0"
                izz="1e-5"/>
            </inertial>
        </link>

    </xacro:macro>
    
</robot>